### Spring Boot App ###
backend-java/src/main/resources/application-local.yml


temp
/storage/

### Maven ###
HELP.md
target/
backend-java/target/
backend-java/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
frontend-vue/dist/
frontend-vue/node_modules/
frontend-vue/.vite/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


### Local ###
docs/*
!docs/images/
.worktrees/
